body {
    font-family: Tiny5;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
    margin: 0;
}

p {
    text-align: center;
    font-size: 20px;
    margin: auto;
    color:black;
}
ul {
  display: table;
  margin: 0 auto;
  
  font-size: 20px;
}
@font-face {
  font-family: Caveat;
  src: url(fonts/Caveat-VariableFont_wght.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Tiny5;
  src: url(fonts/Tiny5-Regular.ttf);
  font-weight: bold;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px black;
    padding: 10px;
    position: absolute;
}
.title {
    
    margin: auto;
    color:#ffafcc;
    text-align: center;
    font-size: 50px;

}

.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a{
    outline: white;
    position: relative;
    float:left;
    color:#ffafcc;
    text-align: center;
    padding: 17px 19px;
    text-decoration: none;
    font-size: 24px;
}

.topnav a:hover {
    background-color: #bde0fe;
    color: black;

}

.topnav a.active {
    background-color: #bde0fe;
    color: white;
}

.picture {
    
    width: 20%;
    margin-right: auto;
    margin-left: auto;
    display: block;

}
.navbar {
  background-color: black;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.navbar a {
  float: left;
  display: block;
  color: #a2d2ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #ffc8dd;
  color: black;
}

.navbarimage {
    width: 3%;
}
