body {
    font-family: Tiny5;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
    margin: 0;
}

p {
    text-align: center;
    font-size: 20px;
    margin: auto;
    color:black;
    padding-bottom: 10px;
}
ul {
  display: table;
  margin: 0 auto;
  
  font-size: 20px;
  padding-bottom: 10px;
}
@font-face {
  font-family: Caveat;
  src: url(fonts/Caveat-VariableFont_wght.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Tiny5;
  src: url(fonts/Tiny5-Regular.ttf);
  font-weight: bold;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px black;
    padding: 10px;
    position: absolute;
}
.title {
    padding-top: 10%;
    margin: auto;
    color:#ffafcc;
    text-align: center;
    font-size: 50px;

}
.icons {
    width: 20px;
    
}
.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a{
    outline: white;
    position: relative;
    float:left;
    color:#ffafcc;
    text-align: center;
    padding: 17px 19px;
    text-decoration: none;
    font-size: 24px;
}

.topnav a:hover {
    background-color: #bde0fe;
    color: black;

}

.topnav a.active {
    background-color: #bde0fe;
    color: white;
}

.picture {
    
    width: 20%;
    margin-right: auto;
    margin-left: auto;
    display: block;

}
.navbar {
  margin-top: 10px;
  background-color: black;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.navbar a {
  float: left;
  display: block;
  color: #a2d2ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #ffc8dd;
  color: black;
}

.navbarimage {
    width: 3%;
}

.topbar {
  overflow: hidden;
  position: fixed;
  padding: 8px 12px;
  background:black;
  top: 0;
  width: 100%;
}

.projectbox {
  
  box-shadow:   -3px 0 0 0 black,
                 3px 0 0 0 black,
                 0 -3px 0 0 black,
                 0 3px 0 0 black;
  
  color: #a2d2ff;
  width: 60%;
  height: 30%px;
  padding: 10px;
  margin:auto;
  
  background-color: black;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 10%;
}

.projectflexbox {
  
}

.projecttitle {
  flex-grow: 1;
  text-align: center;
  font-size: 18px;
  
  position: absolute;
}

.projectimage {
  
  padding: 10px;
  max-width: 100%;
  margin: auto;

  display: block;
}